# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfplan
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
*.zip

# Backup
_backup/

# IDE
.vscode/

# Lambda Dependencies
src/saas_poller/bin/
src/saas_poller/certifi/
src/saas_poller/charset_normalizer/
src/saas_poller/idna/
src/saas_poller/requests/
src/saas_poller/urllib3/
src/saas_poller/*.dist-info/
